.is-style-sme-alert-warning {
  @extend %alert;
  background-color: adjust-hue($alert-color, -30deg);
  border: 1px solid adjust-hue(darken($alert-color, 5%), -30deg);
  color: adjust-hue(darken(desaturate($alert-color, 60%), 70%), -30deg);

  &::before {
    background-image: url(../../src/style/alert-warning/icon.svg);
  }
}
