@use 'sass:color';

@use '../../css/core/placeholder/alert';
@use '../../css/core/variable/variable' as *;

:root :where(p.is-style-sme-alert-warning),
:root :where(.wp-block-group.is-style-sme-alert-warning) {
	--sme-alert--background-color: #{ color.adjust($alert-color, $hue: -30deg) };
	--sme-alert--border: 1px solid #{ color.adjust(color.adjust($alert-color, $lightness: -5%), $hue: -30deg) };
	--sme-alert--color: #{ color.adjust(color.adjust(color.adjust($alert-color, $saturation: -60%), $lightness: -80%), $hue: -30deg) };
	--sme-alert--icon: url(../../src/style/alert-warning/icon.svg);

	@extend %alert;
}
