.is-style-sme-ordered-list-square {
  &,
  ul,
  ol {
    @extend %ordered-list;
  }

  li {
    @extend %ordered-list__item;

    &::before {
      left: calc(-1.8em - 6px);
      top: $_half-leading / 2 * 1rem;
      width: 20px;
      height: 20px;
      background-color: _lighter($_color-gray);
      font-size: 12px;
    }
  }
}

ol.is-style-sme-ordered-list-square[reversed] {
  @extend %ordered-list--reserved;

  > li {
    @extend %ordered-list--reserved__item;
  }
}
