.wp-block-code.is-style-sme-block-code-nowrap {
	white-space: pre !important;
	overflow: auto;
	padding: 0;

	code {
		white-space: inherit !important;
		display: table;
		width: 100%;
		padding: var(--_padding1);
	}
}
