.sme-hidden-sm:where(:not(.wp-block)) {
	@include _media-only(sm) {
		display: none !important;
	}
}

.sme-hidden-md:where(:not(.wp-block)) {
	@include _media-only(md) {
		display: none !important;
	}
}

.sme-hidden-lg-up:where(:not(.wp-block)) {
	@include _media-min(lg) {
		display: none !important;
	}
}
