.wp-block-code.is-style-sme-block-code-wrap {
	white-space: pre-wrap !important;
	overflow: auto;
	padding: 0;

	code {
		white-space: inherit !important;
		display: block;
		padding: var(--_padding1);
	}
}
