.sme-date-time-picker {
  &__action {
    display: flex;
    justify-content: space-between;

    .components-button {
      flex: 0 0 auto;
    }
  }

  .components-datetime {
    .components-datetime__date-help-button {
      display: none;
    }
  }

  .CalendarMonth {
    padding: 0 !important;
  }

  .CalendarMonthGrid__horizontal {
    left: 0;
  }

  .DayPicker_weekHeaders__horizontal {
    margin-left: 0;
  }
}
