@use '../../css/core/placeholder/fluid-shape';

:root :where(.wp-block-image.is-style-sme-fluid-shape-2 img),
:root :where(.wp-block-media-text.is-style-sme-fluid-shape-2 > .wp-block-media-text__media img) {
	@extend %fluid-shape__media;
	mask-image: url(../../src/style/fluid-shape-2/shape.svg);
}
