$_base-font-size-px: 16px !default;
$_between-lines: (1rem / 2.3) !default;
$_transition-duration: .2s !default;
$_border-radius: 6px !default;
$alert-color: #fff9e6 !default;
$color-accent: #cd162c !default;
