h2,
h3,
[data-type="core/heading"] .wp-block-heading > .editor-rich-text__editable {
  &.is-style-sme-section-title {
    @include _margin(0, 0, 1);
    @include _font-size-line-height($_base-font-size * 1.5);
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-left: none;
    padding: 0;

    @include _media-min(lg) {
      @include _margin(0, 0, 1.5);
      @include _font-size-line-height($_base-font-size * 2);
    }
  }
}
