@charset 'utf-8';

@import 'core/core';

@import '../extension/editor';
@import '../format/editor';
@import '../style/editor';

.sme-popover {
  &__inner {
    padding: 14px;
  }

  &.components-popover:not(.is-mobile) .components-popover__content {
    min-width: 270px;
  }
}

.sme-extension-enabled {
  .components-panel__icon {
    fill: $color-accent;
  }
}
