@use '../block-presets/editor' as *;
@use '../extension/editor' as *;
@use '../format/editor' as *;
@use './core/variable/variable' as *;

.sme-popover {
	.components-popover__content {
		padding: 16px;
		min-width: 260px;
		max-height: none !important;
		overflow: visible !important;

		> * {
			> * + * {
				margin-top: 8px;
			}
		}
	}

	// ToolsPanelItem Popover
	.components-dropdown-content-wrapper {
		margin: 0 !important;

		.sme-popover__title {
			font-weight: bold;
			margin-bottom: 16px;
		}

		> fieldset {
			> :last-child {
				margin-bottom: 0;
			}
		}
	}
}

.sme-popover--inline-font-size {
	.components-font-size-picker {
		padding: 0;
	}

	.components-font-size-picker__controls {
		margin-bottom: 5px;
	}

	.components-custom-select-control__menu {
		max-height: 200px;
	}
}

.sme-extension-tools-panel {
	.block-editor-panel-color-gradient-settings__dropdown {
		padding-top: 12px;
		padding-bottom: 12px;
		justify-content: space-between;
	}

	.block-editor-tools-panel-color-gradient-settings__item:first-child {
		border-top: 1px solid #ddd;
	}
}

.sme-extension-panel {
	.components-panel__icon {
		fill: var(--_light-color-gray);
	}

	&--enabled .components-panel__icon {
		fill: $color-accent;
	}
}

.components-dropdown-menu__menu-item.has-text.has-icon .dashicon {
	margin-right: 8px;
}
