@keyframes smeBounceDown {
  0%   { transform: translateY(-300px); opacity: 0; }
  1%   { opacity: 1; }
  40%  { transform: translateY(10%); }
  60%  { transform: translateY(-5%); }
  80%  { transform: translateY(5%); }
  100% { transform: translateY(0); }
}

.sme-animation-bounce-down{
  opacity: 0;
  will-change: transform;
}

.sme-animation-bounce-down-fired {
  animation: smeBounceDown .6s cubic-bezier(0, 0, 0, 1);
}
