.is-style-sme-list-remark {
  &,
  ul,
  ol {
    list-style: none;
  }

  li {
    position: relative;

    &::before {
      content: '※';
      position: absolute;
      left: calc(-1.5em + 2px);
    }
  }
}
