.sme-badge {
	display: inline-flex;
	align-items: center;
	color: #fff;
	padding: .25em 0.5em;
	vertical-align: middle;
	font-size: calc(1em - .125rem);
	border-radius: var(--_global--border-radius);
	font-weight: bold;
	white-space: nowrap;
	transform: translateY(-2px);
}
