@use '../../css/core/placeholder/speech';

:root :where(p.is-style-sme-speech) {
	@extend %speech;

	text-align: left;

	&::before {
		top: calc(100% - var(--sme-speech--triangle-size) / 2);
		left: var(--_s1);
	}

	&.has-text-align-center {
		&::before {
			left: calc(50% - var(--sme-speech--triangle-size) / 2);
		}
	}

	&.has-text-align-right {
		&::before {
			left: auto;
			right: var(--_s1);
		}
	}
}
