%overwrap {
  width: auto;
  overflow: visible;

  &:not([class*="-background-color"]) {
    background-color: transparent;
  }
}

%overwrap--left {
  justify-content: flex-start;
  margin-left: 20vw !important;
}

%overwrap--right {
  justify-content: flex-end;
  margin-right: 20vw !important;
}

%overwrap--bottom {
  align-items: flex-end;
  @include _margin-bottom(2);
}

%overwrap__container {
  flex: 1 1 auto;
  color: inherit;
  max-width: 80vw;

  @include _media-min(md) {
    max-width: 50vw;
  }
}

%overwrap--left__container {
  margin-left: -15vw;
}

%overwrap--right__container {
  margin-right: -15vw;
}

%overwrap--bottom__container {
  @include _margin-bottom(-1);
}
