.is-style-sme-alert-success {
  @extend %alert;
  background-color: adjust-hue($alert-color, 40deg);
  border-color: adjust-hue(darken(desaturate($alert-color, 15%), 15%), 40deg);
  color: adjust-hue(darken(desaturate($alert-color, 70%), 70%), 40deg);
}
