@use '../../css/core/variable/variable' as *;

:root :where(.wp-block-list.is-style-sme-list-check) {
	list-style: none;
	padding-left: 1.5em;

	:where(li) {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: calc(-1.5em + 5px);
			top: calc(var(--_half-leading) * 1rem + 3px);
			display: block;
			width: 8px;
			height: 6px;
			border-color: adjust-hue(darken($alert-color, 55%), 40deg);
			border-style: solid;
			border-width: 0 0 2px 2px;
			transform: rotate(-45deg);
		}
	}
}
