.editor-styles-wrapper {
  @import 'app';

  .wp-block-cover.is-style-sme-overwrap-lb {
    .block-editor-block-list__block {
      color: inherit;
    }
  }

  [data-type="core/cover"][data-align="full"] .wp-block-cover.is-style-sme-overwrap-lb {
    > .wp-block-cover__inner-container {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
