.sme-br {
	position: relative;
	display: inline;

	@include _media-min(lg) {
		&--disable\:desktop br {
			display: none;
		}
	}

	@include _media-only(md) {
		&--disable\:tablet br {
			display: none;
		}
	}

	@include _media-max(sm) {
		&--disable\:mobile br {
			display: none;
		}
	}
}
